---
import DependenciesLayout from './DependenciesLayout.astro';
import { TheFooter, TheNavBar, TheGTag } from '@UniqueComponents';
import ScriptsLayout from './ScriptsLayout.astro';

export interface Props {
  title: string;
  lang: string;
  description: string;
}

const { title, description } = Astro.props;

const props = {
  title:
    title ?? 'Renan Refrigeração | Serviços de Refrigeração e Climatização',
  description:
    description ??
    'Procurando por montagem e manutenção de câmara fria, freezer, expositor, geladeira ou outros serviços de refrigeração? Solicite um orçamento agora mesmo!',
};
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <ScriptsLayout />
    <meta
      http-equiv="Content-Type"
      content="text/html; charset=utf-8"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon/favicon.ico"
    />
    <meta
      name="title"
      content={props.title}
    />
    <meta
      name="description"
      content={props.description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />
    <title>{props.title}</title>

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/favicon/manifest.json"
    />

    <!-- Open Graph / Facebook -->
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:url"
      content="https://renanrefrigeracao.com.br"
    />
    <meta
      property="og:title"
      content={props.title}
    />
    <meta
      property="og:description"
      content={props.description}
    />
    <meta
      property="og:image"
      content="https://renanrefrigeracao.com.br/renan-refrigeracao-share-thumb.png"
    />

    <!-- Twitter -->
    <meta
      property="twitter:card"
      content="summary_large_image"
    />
    <meta
      property="twitter:url"
      content="https://renanrefrigeracao.com.br"
    />
    <meta
      property="twitter:title"
      content="Renan Refrigeração | Serviços de Refrigeração e Climatização"
    />
    <meta
      property="twitter:description"
      content={props.description}
    />
    <meta
      property="twitter:image"
      content="https://renanrefrigeracao.com.br/renan-refrigeracao-share-thumb.png"
    />
  </head>

  <body class="body">
    <TheGTag />

    <DependenciesLayout>
      <TheNavBar />
      <main class="main">
        <slot />
      </main>
      <TheFooter />
    </DependenciesLayout>
    <style>
      body {
        @apply flex min-h-screen flex-col items-center;
      }

      main {
        @apply w-screen;
      }
    </style>
  </body>
</html>
