---
const { class: className, tag, variation } = Astro.props;

const dynamicClasses = [`${tag}`, className, variation ? `is-${variation}` : ""];
---

{
    tag === "p" ? (
      <p class:list={dynamicClasses}>
        <slot />
      </p>
    ) : tag === "h2" ? (
      <h2 class:list={dynamicClasses}>
        <slot />
      </h2>
    ) : tag === "h3" ? (
      <h3 class:list={dynamicClasses}>
        <slot />
      </h3>
    ) : tag === "span" ? (
      <span class:list={dynamicClasses}>
        <slot />
      </span>
    ) : tag === "h1" ? (
      <h1 class:list={dynamicClasses}>
        <slot />
      </h1>
    ) : (
      <p class:list={dynamicClasses}>
        <slot />
      </p>
    )
  }

  <style>
    .h1,
    .h2-banner,
    .p-banner,
    .p-thebenedettifooter,
    .p-theFooter,
    .p-link,
    .p-linkfooter,
    .p-servicecard {
        @apply relative text-neutral;
    }

    .h2,
    .h3,
    .p,
    .p-actingcard,
    .p-activelinknavbar,
    .p-calltoaction,
    .p-linknavbar,
    .p-specialist {
        @apply relative text-navyBlue;
    }

    .h1,
    .h2,
    .h3 {
        @apply font-nova;
    }

    .p,
    .span,
    .h2-banner,
    .p-actingcard,
    .p-banner,
    .p-calltoaction,
    .p-hero,
    .p-linknavbar,
    .p-servicecard, 
    .p-specialist,
    .P-thebenedettifooter,
    .p-thefooter {
        @apply font-ubuntu;
    }

    .p-hero {
        @apply 
        font-ubuntuLight
        leading-snug 
        text-neutral 
        text-xl
        max-w-[601px];
        text-shadow: 2px 1px #012840;
    }

    .is-p-link,
    .is-p-activelinknavbar {
        @apply font-ubuntuBold;
    }

    .h1 {
        @apply 
        leading-tight
        max-w-[850px]
        text-4xl;
        text-shadow: 2px 2px #012840;
    }

    .h2 {
        @apply text-[56px];
    }

    .h3 {
        @apply text-3xl;
    }

    .p-actingcard {
        @apply text-xl leading-7;
    }

    .p-banner {
        @apply text-[28px] leading-10;
    }

    .p-link,
    .p-linkfooter,
    .p-linknavbar,
    .p-servicecard {
        @apply text-[26px];
    }

    @media (min-width: 1024px) {
      .h1 {
          @apply leading-[56px] text-6xl;
        }

      .p-hero {
          @apply text-2xl;
        }
    }
  </style> 